body {
    background-color: #EDF2F4;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: -2vh;
    padding-right: 2vw;
}

header a {
    margin-left: 2vw;
}

a {
    font-size: 3vw;
    color: black;
    text-decoration: underline;
}

header a img{
    width: 3vw;
}


a:visited {
    color: inherit;
}

.bio {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bio-name {
    font-size: 4vw;
    margin-top: -10vh;
    margin-bottom: -2%;
    text-decoration: underline;
}

.bio-titles{
    font-size: 2vw;
}

.bio-desc{
    color: #2B2D42; 
    font-size: 1.3vw;
}

.bio img {
    border-radius: 3vw;
    background: url(./headshot.png), lightgray 50% / cover no-repeat;
    box-shadow: 0.5vw 1vw 1vw 0 rgba(0, 0, 0, 0.25);
    width: 15%;
    height: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #2B2D42;
}

.section-title {
    color: #EDF2F4;
    font-size: 3.3vw;
    padding-bottom: 2vh;
    text-decoration: underline;
    margin: 0;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 2vh 0;
}

.projects-container {
    margin: 0 auto;
    padding: 2.5vw;
    border-radius: 2.5vw;
    min-height: 5vh;
    max-height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    background-color: #EDF2F4;
}

.project-header, .education-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    max-height: fit-content;
    margin: 0;
}

.education-header{
    margin-bottom: 2vh;
}

.project-content-title {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    font-size: 1.6vw;
    margin: 0;
    text-decoration: underline;
}


.icons, .icons-education {
    display: flex;
    margin: 0;
    align-items: center;
}

.icons img, .icons-education img {
    padding-left: 1vw;
    width: 1.8vw;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icons-education img{
    width: 1.3vw;
}

.project-main {
    display: flex;
    text-align: left;
}

.project-main img {
    border-radius: 1vw;
    margin-right: 1vw;
    width: 9vw;
    filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.3));
}

.project-description {
    font-size: 1vw; 
}

.project-link img{
    width: 2.4vw;
    position: absolute;
    bottom: 5%;
    right: 2%;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #2B2D42;
}

.experience-content{
    display: flex;
    gap: 1vw;
    justify-content: center;
}

.experience-container {
    background-color: #EDF2F4;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    padding-bottom: 0.7vw;
    padding-top: 1vw;
    border-radius: 2.5vw;
    min-height: fit-content;
    max-height: fit-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.experience-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.experience-img{
    margin: 0 auto;
    padding: 0;
    width: 6vw;
}

.experience a{
    width: fit-content;
}

.experience-title{
    font-size: 1.2vw;
    text-decoration: underline;
}

.experience-role-title{
    margin: 0;
    font-size: 1.2vw;
    text-decoration: underline;
}

.experience-date{
    text-align: left; 
    margin: 0;
    font-size: 0.8vw;
}

.experience-description{
    text-align: left; 
    font-size: 0.73vw;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #2B2D42;
}

.education-container{
    background-color: #EDF2F4;
    margin: 0 auto;
    padding: 2.5vw;
    border-radius: 2.5vw;
    min-height: fit-content;
    max-height: fit-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.education-title{
    font-size: 2vw;
    color: #2B2D42;
    text-decoration: underline;
}

.education-subtitle{
    font-size: 1vw;
}

.major{
    grid-row:1/span 2;
}

.education-course-title{
    font-size: 1.3vw;
    margin: 0;
    text-align: left;
}

.das{
    color: #444870;
}

.math{
    color: #F0591A;
}

.education-logo{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.line-break{
    border: solid 0.1vw #2B2D42;
    width: 100%;
}

.divider{
    background: #2B2D42;
    min-height: 15vh;
}

.roboto-slab-medium,
.bio-name,
.section-title,
.experience-title,
.bio-titles,
.education-title,
.education-course-title,
.education-subtitle,
.project-content-title,
.experience-role-title,
.bold {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bold{
    font-weight: 700;
}

.roboto-slab,
.bio-desc,
.experience-description,
.experience-date,
.project-description
{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media(max-aspect-ratio: 3/2) {
    .bio-name {
        font-size: 5vw;
    }
    
    .bio-titles{
        font-size: 3vw;
    }
    
    .bio-desc{
        font-size: 2vw;
    }
    
    .bio img {
        width: 30%;
    }
    
    .section-title {
        font-size: 6vw;
        margin-bottom: 2vh;
    }
    
    .projects-content {
        display: flex;
        flex-direction: column;
    }

    .projects-container{
        margin-bottom: 2vh;
        padding: 2.5vw;
    }
    
    .project-content-title {
        font-size: 3vw;
    }
    
    .icons img {
        width: 3vw;
    }

    .project-main img {
        border-radius: 3vw;
        width: 15vw;
    }
    
    .project-description {
        font-size: 1.7vw; 
    }
    
    .project-link img{
        width: 3vw;
    }

    .experience-content{
        flex-direction: column;
        align-items: center;
    }
    
    .experience-container {
        width: 70%;
        margin-bottom: 3vh;
    }
    
    .experience-title{
        font-size: 3.4vw;
    }
    
    .experience-role-title{
        font-size: 2.7vw;
    }
    
    .experience-date{
        text-align: left; 
        font-size: 2vw;
    }
    
    .experience-description{
        font-size: 1.7vw;
    }
    
    .education{
        justify-content: flex-start;
        min-height: fit-content;
        padding-bottom: 10vh;
        text-align: center;
        background-color: #2B2D42;
    }
    
    .education-container{
        display: flex;
        justify-content: center;
        min-height: fit-content;
        max-height: fit-content;
        width: 60%;
    }
    
    .education-title{
        font-size: 4vw;
    }
    
    .education-subtitle{
        font-size: 2vw;
    }
    
    .education-course-title{
        font-size: 2.4vw;
        margin: 0;
        text-align: left;
    }

    .icons-education img{
        width: 3vw;
    }

    .divider{
        min-height: 5vh;
    }
    
    .line-break, .line-break-experience{
        border: solid 0.2vw #2B2D42;
        width: 100%;
    }

    .line-break-experience{
        border: solid 0.2vw #EDF2F4;
    }
}

@media only screen and (max-width: 768px){
    a {
        font-size: 5vw;
    }
    
    header a img{
        width: 5vw;
    }

    .bio-name {
        font-size: 10vw;
    }
    
    .bio-titles{
        font-size: 5vw;
    }
    
    .bio-desc{
        font-size: 4vw;
    }
    
    .bio img {
        width: 50%;
    }
    
    .section-title {
        font-size: 10vw;
        margin-bottom: 2vh;
    }
    
    .projects-content {
        display: flex;
        flex-direction: column;
    }

    .projects-container{
        margin-bottom: 2vh;
        width: 75%;
        padding: 5vw;
    }
    
    .project-content-title {
        font-size: 4vw;
    }
    
    .icons img {
        width: 5vw;
    }

    .project-main img {
        border-radius: 3vw;
        width: 20vw;
    }
    
    .project-description {
        font-size: 2.4vw; 
    }
    
    .project-link img{
        width: 5vw;
    }

    .experience-content{
        flex-direction: column;
        align-items: center;
    }
    
    .experience-container {
        width: 90%;
        margin-bottom: 3vh;
    }
    
    .experience-title{
        font-size: 4.3vw;
    }
    
    .experience-role-title{
        font-size: 3.5vw;
    }
    
    .experience-date{
        text-align: left; 
        font-size: 2.2vw;
    }
    
    .experience-description{
        font-size: 2vw;
    }
    
    .education{
        justify-content: flex-start;
        min-height: fit-content;
        padding-bottom: 10vh;
        text-align: center;
        background-color: #2B2D42;
    }
    
    .education-container{
        display: flex;
        justify-content: center;
        min-height: fit-content;
        max-height: fit-content;
        width: 80%;
    }
    
    .education-title{
        font-size: 6vw;
    }
    
    .education-subtitle{
        font-size: 3vw;
    }
    
    .education-course-title{
        font-size: 3.2vw;
        margin: 0;
        text-align: left;
    }

    .icons-education img{
        width: 3.6vw;
    }

    .divider{
        min-height: 1vh;
    }
    
    .line-break, .line-break-experience{
        border: solid 0.2vw #2B2D42;
        width: 100%;
    }

    .line-break-experience{
        border: solid 0.2vw #EDF2F4;
    }
}