.Body{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #1E1E1E;
    border: 2px solid #ffffff;
}

.navbar {
    overflow: hidden;
    background-color: #212020;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1; 
  }
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    font-family: Roboto, sans-serif;
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.main {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.ClassContainer, .ProfileContainer{
    flex: 1;
    margin-top: 100px;
    border: 2px solid #ffffff;
}

.ProfileContainer {
    align-items: center;
    align-self: flex-end;
    margin-left: auto;
    max-width: 35%;
}
.ProfileImage{
    width: 100%;
    height: auto;
}

.ClassColor{
    color:#88C6B0;
}

.VarNameColor{
    color:#B6DBFB;
}

.StringColor{
    color: #BC937B;
}

.NumberColor{
    color: #BDCDAA;
}

.PinkBracket{
    color: #C079D3;
}

.YellowBracket{
    color: #F1D73C;
}

.CommentColor{
    color: #7B975A;
}

.FunctionColor{
    color: #DBDBAE;
}

.ClassContainer{
    float: left;
}

.Class{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 1.06vw;
    color: #FAFAFA;
    text-align: left;
    width: 100%;
}

@media (max-width: 768px) {
    .Body {
        flex-direction: column;
    }

    .ProfileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .ClassContainer,
    .ProfileContainer {
        width: 100%;
    }

    .ProfileImage{
        width: 100%;
    }

    .Class{
        max-width: 100%;
        font-size: calc(100vw/62);
    }
}