html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    background-color: #E8F0FF;
    flex-direction: column;
}

.mobile, .experience-mobile{
    display: none;
}

h1, p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #001524;
}

h1{
    font-weight: 700;
}

.main-section {
    width: 100%;
    min-height: 100vh;
    background-color: #E8F0FF;
    display: flex;
    text-align: center;
    position: relative;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    min-height: 100vh;
    padding: 2rem;
    max-height: fit-content; 
    filter: drop-shadow(0px, 0px 8px rgba(0, 0, 0, 0.25));
    background-color: #6874E8;
}

.main-sidebar h1{
    font-size: 3rem;
    margin: 0;
}

.main-sidebar img{
    width: 20rem;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
}

.main-sidebar p{
    text-align: center;
    font-size: 1.5rem;
}

.main-sidebar span, .experience span, .experience h1{
    font-weight: 600;
}

.top-right-icons{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    gap: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.top-left-icons{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    gap: 35px;
    flex-basis: 0;
    align-items: center;
    position: absolute;
}

.top-left-icons img, .top-right-icons a img{
    width: 4rem;
    flex-basis:0;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
}

.titles, .class-titles{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.titles h1{
    color: #001524;
    font-size: 3rem;
    font-weight: 600;
    margin: 5px;
}

.class-titles h1{
    font-size: 2rem;
    font-weight: 600;
    margin: 5px;
}

.pictures{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .pictures img {
    margin-top: 8px;
    width: 40rem;
    vertical-align: middle;
  }

.divider{
    min-width: 100%;
    min-height: 10vh;
    background-color: #6874E8;
}

.experience {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: #6874E8;
    padding-bottom: 1%;
}

.experience-main-title{
    font-size: 2.8rem;
}

.icons{
    display: flex;
    margin: 0;
    align-items: center;
}

.icons img{
    padding-left: 1vw;
    width: 2rem;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experience-header{
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    max-height: fit-content;
    margin: 0;
}

.experience-content{
    display: flex;
    gap: 1vw;
    justify-content: center;
}

.experience-container {
    background-color: #E8F0FF;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    padding-bottom: 0.7vw;
    padding-top: 1vw;
    min-height: fit-content;
    max-height: fit-content;
    width: 35%;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex-direction: column;
}

.experience-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.experience-img{
    width: 6.25rem;
}

.sase-img{
    width: 12.5rem;
}

.experience a{
    width: fit-content;
}

.experience-title{
    font-size: 1.5rem;
}

.experience-role-title{
    margin: 0;
    font-size: 1.25rem;
}

.experience-date{
    text-align: left; 
    margin: 0;
    font-size: 1.12500rem;
}

.experience-description{
    text-align: left; 
    font-size: 0.75rem;
}

.line-break{
    border: solid 0.1vw #001524;
    width: 100%;

}

@media(max-aspect-ratio: 3/2){
    .main-sidebar h1{
        font-size: 2rem;
    }
    
    .main-sidebar img{
        width: 14rem;
    }
    
    .main-sidebar p{
        font-size: 1.3rem;
    }
    
    .top-left-icons img, .top-right-icons a img{
        width: 2rem;
    }
    
    .titles h1{
        font-size: 2rem;
    }
    
    .class-titles h1{
        font-size: 1.4rem;
    }
      
    .pictures img {
        width: 24rem;
    }
    
    .experience-content{
        gap: 1vw;
    }
    
    .experience-container {
        width: 45%;
    }
    
    .experience-img{
        width: 3rem;
    }
    
    .sase-img{
        width: 6rem;
    }
    
    .experience-title{
        font-size: 0.75rem;
    }
    
    .experience-role-title{
        font-size: 0.8rem;
    }
    
    .experience-date{
        font-size: 0.5rem;
    }
    
    .experience-description{
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 600px){
    .desktop{
        display: none;
    }

    .mobile, .experience-mobile{
        display: contents;
    }

    .experience-mobile{
        text-align: center;
        background-color: #6874E8;
    }

    .bio-container{
        background-color: #6874E8;
    }

    .main-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .main-section h1 {
        font-size: 3rem;
    }

    .main-section img {
        width: 50%;
    }

    .main-section p{
        font-size: 1rem;
    }

    .main-section span{
        font-weight: 700;
    }

    .titles h1{
        font-size: 1.6rem;
        text-wrap:wrap;
    }

    .class-titles h1{
        font-size: 1.2rem;
    }

    .icons{
        display: flex;
        gap: 5rem;
        justify-content: center;
    }
    
    .icons img{
        width: 2.4rem;
        filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
    }

    .education-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
        height: 75%;
        gap: 0.2vh;
        background-color: #6874E8;
        position: relative;
    }

    .education-container p{
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .education-container img{
        margin-bottom: 0;
    }

    .project-content{
        padding-top: 5%;
        width: 100%;
        max-height: fit-content;
        background-color: #6874E8;
    }

    .project-content p{
        margin: 1rem;
    }

    .experience{
        min-height: fit-content;
    }

    .experience-content{
        flex-direction: column;
        align-items: center;
        gap: 1vw; 
        padding-top: 5%;       
        padding-bottom: 5%;       
    }
    
    .experience-container {
        width: 90%;
    }
    
    .experience-img{
        width: 3rem;
    }
    
    .sase-img{
        width: 6rem;
    }
    
    .experience-content{
        flex-direction: column;
        align-items: center;
    }
    
    .experience-title{
        font-size: 4.3vw;
    }
    
    .experience-role-title{
        font-size: 3.5vw;
    }
    
    .experience-date{
        text-align: left; 
        font-size: 2.2vw;
    }
    
    .experience-description{
        font-size: 2vw;
    }

    .experience-icons img{
        width: 1rem;
    }

}