body {
    background-color: #EDF2F4;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: -2vh;
    padding-right: 2vw;
}

header a {
    margin-left: 2vw;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.bio {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bio-name {
    color: #2B2D42;
    font-size: 4vw;
    margin-top: -10vh;
    margin-bottom: -2%;
}

.bio-titles{
    font-size: 2vw;
}

.bio-desc{
    color: #0AA09E; 
    font-size: 1.3vw;
}

.bio img {
    border-radius: 3vw;
    background: url(./headshot.png), lightgray 50% / cover no-repeat;
    box-shadow: 0.5vw 1vw 1vw 0 rgba(0, 0, 0, 0.25);
    width: 15%;
    height: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #2B2D42;
}

.section-title {
    color: #EDF2F4;
    font-size: 4vw;
    padding-bottom: 2%;
    margin: 0;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 2vh 0;
}

.projects-container {
    margin: 0 auto;
    padding: 1.4vw;
    border-radius: 2.5vw;
    min-height: 5vh;
    max-height: fit-content;
    width: 70%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    background-color: #EDF2F4;
}

.project-header, .education-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1vw;
    align-items: center;
}

.project-content-title {
    padding-left: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    font-size: 1.9vw;
    margin: 0;
}


.icons {
    display: flex;
    margin: 0;
    align-items: center;
}

.icons img {
    padding-left: 1vw;
    width: 2vw;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-main {
    display: flex;
    text-align: left;
}

.project-main img {
    border-radius: 2.5vw;
    margin-right: 1vw;
    width: 12vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.project-description {
    font-size: 1vw; 
}

.project-link img{
    width: 2.4vw;
    position: fixed;
    bottom: 5%;
    right: 2%;
    align-self: last baseline;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #EDF2F4;
}

.experience-content{
    display: flex;
}

.experience-container {
    background-color: #2B2D42;
    margin: 0 auto;
    padding: 1.4vw;
    border-radius: 2.5vw;
    min-height: fit-content;
    max-height: fit-content;
    width: 30%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.experience-title{
    color: #EDF2F4;
    font-size: 1.4vw;
}

.experience-role-title{
    color: #EDF2F4;
    font-size: 1.3vw;
}

.experience-date{
    text-align: left; 
    font-size: 0.8vw
}

.experience-description{
    margin-top: -5%;
    text-align: left; 
    color: #EDF2F4;
    font-size: 0.7vw;
}

.education{
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #2B2D42;
}

.education-container{
    background-color: #EDF2F4;
    margin: 0 auto;
    padding: 2.5vw;
    border-radius: 2.5vw;
    min-height: fit-content;
    max-height: fit-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.education-title{
    font-size: 1.4vw;
    color: #2B2D42;
    text-decoration: underline;
}

.education-subtitle{
    font-size: 1vw;
}

.major{
    grid-row:1/span 2;
}

.education-course-title{
    font-size: 1.3vw;
    margin: 0;
    text-align: left;
}

.das{
    color: #0AA09E;
}

.math{
    color: red;
}

.line-break{
    border: solid 1px #2B2D42;
    width: 100%;
}

.roboto-slab-medium,
.bio-name,
.section-title,
.experience-title,
.project-description,
.education-title,
.education-course-title,
.education-subtitle {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-slab,
.bio-titles,
.bio-desc,
.experience-role-title,
.experience-description,
.project-content-title {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.end {
    position: relative;
    background: #2c3e50;
    height: 50vh;
}