.Body{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #212020;
    border: 2px solid #ffffff;
}

.navbar {
    overflow: hidden;
    background-color: #212020;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1; 
  }
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    font-family: Roboto, sans-serif;
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.main {
    margin-top: 30px;
}

.ClassContainer, .ProfileContainer{
    flex: 1;
    margin-top: 100px;
    border: 2px solid #ffffff;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-left: auto;
    max-width: 35%;
}
.ProfileImage{
    width: 100%;
    height: auto;
}

.ClassContainer{
    float: left;
    max-width: auto;
    max-height: auto;
    padding-right: 5vw;
}

.Class{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 5vh;
    color: #FAFAFA;
    text-align: left;
}

.IndentedBlock{
    margin-left: 5%;
}

@media (max-width: 768px) {
    .Body {
        flex-direction: column;
    }

    .Class,
    .ProfileContainer {
        max-width: 100%;
    }

    .ProfileContainer{
        margin-top: 0;
    }
}