html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #141415;
}

.main-section {
    width: 100%;
    min-height: 100vh;
    background-color: #F7F0F5;
    display: flex;
    text-align: center;
    position: relative;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    min-height: 100%;
    max-height: fit-content; 
    filter: drop-shadow(0px, 0px 8px rgba(0, 0, 0, 0.25));
    background-color: #FFBC42;
}

.main-sidebar h1{
    font-size: 55px;
    margin: 0;
}

.main-sidebar img{
    width: 65%;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
}

.main-sidebar p{
    text-align: center;
    font-size: 169%;
}

.main-sidebar span, .experience span, .experience h1{
    font-weight: 600;
}

.top-right-icons{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    gap: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.top-right-icons a img{
    width: 50px;
}

.top-left-icons{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    gap: 35px;
    flex-basis: 0;
    align-items: center;
    position: absolute;
}

.top-left-icons img{
    width: 50px;
    flex-basis:0;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
}

.titles, .class-titles{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.titles h1{
    color: #141415;
    font-size: 55px;
    font-weight: 600;
    margin: 5px;
}

.class-titles h1{
    color: #141415;
    font-size: 40px;
    font-weight: 600;
    margin: 5px;
}

.pictures{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .pictures img {
    margin-top: 8px;
    width: 130%;
    vertical-align: middle;
  }

.divider{
    min-width: 100%;
    min-height: 10vh;
    background-color: #FFBC42;
}

.experience {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: #FFBC42;
}

.experience-main-title{
    font-size: 45px;
}

.icons{
    display: flex;
    margin: 0;
    align-items: center;
}

.icons img{
    padding-left: 1vw;
    width: 25px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experience-header{
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    max-height: fit-content;
    margin: 0;
}

.experience-content{
    display: flex;
    gap: 1vw;
    justify-content: center;
}

.experience-container {
    background-color: #F7F0F5;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    padding-bottom: 0.7vw;
    padding-top: 1vw;
    min-height: fit-content;
    max-height: fit-content;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.experience-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.experience-footer a img{
    width: 100px;
}

.experience a{
    width: fit-content;
}

.experience-title{
    font-size: 24px;
}

.experience-role-title{
    margin: 0;
    font-size: 20px;
}

.experience-date{
    text-align: left; 
    margin: 0;
    font-size: 18px;
}

.experience-description{
    text-align: left; 
    font-size: 12px;
}

.line-break{
    border: solid 0.1vw #2B2D42;
    width: 100%;

}

@media(max-aspect-ratio: 3/2){
    body{
        flex-direction: column;
    }

    .main-section {
        width: 100%;
        min-height: 100vh;
        background-color: #F7F0F5;
        display: flex;
        flex-direction: column;
    }
    
    .main-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60%; 
        max-height: fit-content;
        filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
        background-color: #FFBC42;
    }
    
    .main-sidebar img{
        width: 20%;
    }
    
    .main-sidebar h1{
        font-size: 55px;
    }
}